<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Get Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>

  <title>Sustainable Making Publication Repository</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/reset.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
  <link href="css/index.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />

  <!-- TODO: Add your spreadsheet RSS feed URL and uncomment the following lines -->
  <!-- <link rel="alternate" type="application/rss+xml" title="TITLE" href="" /> -->

  <!-- Custom JS file -->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="gooss.js"></script>

  <script type="text/javascript">
    // TODO: Change this to the URL of your spreadsheet.
    var url = "https://docs.google.com/spreadsheets/d/1yaZWr2U66JCPy5NssvbX-qGEgytAyVl8ftS4V2UGxPs/edit?usp=sharing";

    // DOMContentLoaded is not available IE < 9. Use a different load method
    // if you wish to target lower IE versions.
    document.addEventListener("DOMContentLoaded", function () {
      // TODO: Change "sheet_name" to the name you want to use
      gooss.data({ id: { url: url, index: 0 } }, function (err, data) {
        if (err) {
          document.getElementById("loading").innerHTML = "Error: " + err;
          return;
        }
        gooss.template(data);
        document.getElementById("loading").style.display = "none";
      });
    }, false);
  </script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#top">Return to Top </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://sustainablemaking.umiacs.io/">UIST2023 Sustainable Making Workshop</a>
          </li>
          <!-- <li>
          <a href="#search">search</a>
          </li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- This is the section of the first paragraph on the top of the page. -->
    <div class="row">
      <div class="col-md-9 maintanance-desc">
        <h2>
          <span class="header-desc">
            <a name="#top"></a>
            Sustainable Making in HCI and Beyond:
            </br>
            An Overview of Related Work
          </span>
        </h2>
        </br>
        <h3>
          The goal of this website is to provide a resource for newcomers in the field of sustainable
          interaction design and computational fabrication so that they can quickly access recent
          contributions made in the field. 
          <br>
          Webpage maintained by
          <a href="https://www.zeyuyan.com/" target="_blank" class="maintanance-desc">Zeyu Yan</a>,
          <a href="https://jsli.phd/" target="_blank" class="maintanance-desc">Jiasheng Li</a>,
          <a href="https://jasminelu.site/" target="_blank" class="maintanance-desc">Jasmine Lu</a>,
          <a href="hhttps://tingyucheng.com/" target="_blank" class="maintanance-desc">Tingyu Cheng</a>,
          <a href="https://plopes.org/" target="_blank" class="maintanance-desc">Pedro Lopes </a>, and
          <a href="http://www.huaishu.me/" target="_blank" class="maintanance-desc">Huaishu Peng</a>,
          <br>

          For feedback and changes, please email:
          <a href="zeyuy@umd.edu" class="maintanance-desc">
            zeyuy/at/umd.edu
          </a>
          or submit an entry that you see missing using this
          <a href="https://forms.gle/Qhi7X5DaNe82Dra56" target="_blank" class="maintanance-desc" style="font-weight: bolder;">Google form.</a>
        </h3>
      </div>
        <div class="col-md-3">
          </br>
          <img src="logo/umd.webp" width="75px">
          <img src="logo/uchicago.png" width="75px">
          <img src="logo/GTVertical_RGB.png" width="75px">
        </div>
      </div>
    <div class="row">
      <!-- <div class="col-md-12">
      </div> -->
      <br>
      <div class="col-md-12" style = "line-height: 0.8;">
        <span class="disclaimer">
          This webpage is created using "Personal Fabrication Research in HCI and Graphics" as a template, we
          appreciate HCI Lab @MIT CSAIL for opensourcing the template. This webpage serves as a related work directory - the creators of this webpage do not hold the
          rights for these works, please contact the authors directly.
        </span>
      </div>
    </div>
    <!-- This is the end of the first paragraph section. -->
    </br>
    <!-- This is the format of entry -->
    <!-- <div class="row portfolio">
    <div class="col-md-3">
      <span class="force-to-center"></span>
      <img class= "paperimage" src="img/Patrick_Fab2016.png" />
    </div>
    <div class="col-md-9">
      <span class="papertitle">
        Personal Fabrication
      </span>
      </br>
      <span class="paperauthors">
        Patrick Baudisch and Stefanie Mueller.
      </span>
      </br>
      <a name="search"></a>
      <span class="paperdetails">
        In this journal paper, we survey the related work in HCI and Computer Graphics over the last five years and
        provide a roadmap for future research. The question we try to answer is whether the technology will further
        progress towards consumers, which would allow the technology to scale from hundreds of thousands of users to
        hundreds of millions of users. Our analysis reveals that a transition to consumers first requires a hardware +
        software system that embodies the skills and expert knowledge that consumers lack [...]
      </span>
      </br>
      </br>
      <a href="http://www.nowpublishers.com/article/Details/HCI-055" class="btn btn-doi" alt="doi" target="_blank">DOI</a> &nbsp; &nbsp;
      <a href="dl/personal-fabrication.pdf" class="btn btn-pdf" alt="pdf" target="_blank" >PDF</a>
    </div>
  </div> -->
    <!-- This is the enf of entry format -->
    </br>

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="controls">
          <span class="control-text">
            Lookup:
          </span>
          <select id="Paper" data-ref="select-paper">
            <option value="">All conferences/journals</option>
            <option value="creativityandcognition">ACM C&C</option>
            <option value="chi">ACM CHI</option>
            <option value="cea">ACM CEA</option>
            <option value="dis">ACM DIS</option>
            <option value="sgp">ACM SGP</option>
            <option value="sca">ACM SCA</option>
            <option value="tei">ACM TEI</option>
            <option value="scf">ACM SCF</option>
            <option value="siggraph">ACM SIGGRAPH</option>
            <option value="siggraphasia">ACM SIGGRAPH Asia</option>
            <option value="uist">ACM UIST</option>
            <option value="vrst">ACM VRST</option>
            <option value="eurographics">EUROGRAPHICS</option>
            <option value="computersandgraphics">Elsevier Computer & Graphics</option>
            <option value="computergraphicsandapplications">IEEE Computer Graphics and Applications</option>
            <option value="nime">NIME</option>
            <option value="iopsci">IOP Science</option>
            <option value="icra">IEEE ICRA</option>
            <option value="pervasivecomputing">IEEE Pervasive Computing</option>
            <option value="assets">ACM ASSETS</option>
          </select>

          <span class="control-text">
            +
          </span>

          <select id="Year" data-ref="select-year">
            <option value="">All years</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
            <option value="2009">2009</option>
            <option value="2007">2007</option>
            <option value="2006">2006</option>
            <option value="2004">2004</option>
          </select>
          <span class="control-text">
            or
          </span>
          <input type="text" class="search-box" data-ref="input-tag-search"
            placeholder=" search by conf., year, etc. " />
          

          <button type="submit" class="btn btn-filter" data-ref="input-btn-search"><span
              class="glyphicon glyphicon-search" aria-hidden="true"></span> Filter</button>


          <input type="button" class="btn btn-reset" data-ref="input-btn-all" value="Clear" />
          
        </div>
      </div>
    </div> -->

    <div class="search-included" data-ref="search-included" id="Container">
      </br>


      <!-- ================================= One section of entry ==================================-->
      <!-- ======================================================================================== -->
      <!-- ======================================================================================== -->
      <!-- ================================= One section of entry ==================================-->
      <div id="loading">
        <p>Loading...</p>
      </div>

      <!-- TODO: Replace the contents of this script tag with your template -->
      <script type="text/html">
      <% for (var i = 0; i < id.length; i++){ %>
      <div class = "row portfolio <%- id[i].conference %> <%- id[i].year %>">

        <div class="col-md-3">
          <img class="paperimage" src="<%- id[i].image %>" />
        </div> 

        <div class="col-md-9">
          <span class="papertitle">
            <%- id[i].title %> (<%- id[i].conference %> <%- id[i].year %>)
          </span>
          </br>
          <span class="paperauthors">
            <%- id[i].authors %>
          </span>
          </br>
          <span class="paperdetails">
            <%- id[i].abstract %>
          </span>
          </br>
          </br>
          <% if (id[i].doi !== null){ %>
          <a href="<%- id[i].doi %>" class="btn btn-doi" alt="doi"
          target="_blank">DOI</a> &nbsp; &nbsp;
          <% } %>
          <% if (id[i].pdf !== null){ %>
          <a href="<%- id[i].pdf %>" class="btn btn-pdf" alt="pdf"
          target="_blank">PDF</a> &nbsp; &nbsp;
          <% } %>
          <% if (id[i].video !== null){ %>
          <a href="<%- id[i].video %>" class="btn btn-vdo" alt="video"
          target="_blank">Video</a> &nbsp; &nbsp;
          <% } %>
          <% if (id[i].website !== null){ %>
          <a href="<%- id[i].website %>" class="btn btn-pages" alt="page" target="_blank">Page</a>
          <% } %>
        </div>

      </div>
    <% } %>
  </script>
      <!-- =============================== One section of entry END ================================-->
      <!-- ======================================================================================== -->
      <!-- ======================================================================================== -->
      <!-- =============================== One section of entry END ================================-->

    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <div class="custom_footer" align="center">
            <span class="copyright">
              Since 2023 &copy; Sustainable Making Workshop Organizers.
              <!-- This website is open source under
<a href="https://opensource.org/licenses/MIT" target="_blank" class="forkit">MIT licensed</a> -->
            </span>
            <!-- <a href="http://mit.edu/" target="_blank" ><img src="logo/mit.svg" alt="MIT" class="footer-logo" /></a>
<a href="http://csail.mit.edu/" target="_blank"><img src="logo/csail.svg" alt="CSAIL" class="footer-logo"/></a> -->
          </div>
        </div>
      </div>
    </footer>

  </div>

  	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- MixItUp -->
	<script src="js/mixitup.min.js"></script>
	<script src="js/mixitup.search.js"></script>

	<!-- Analytic -->
	<script src="js/analytics.js"></script>
</body>
</html>
